{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                {% comment %}
                this below is to modify the app name displayed in the django admin index
                {% endcomment %}
                {% if app.name = 'Basicinfo' %}
                    Basic Company Information
                {% elif app.name = 'Sp_Spareparts' %}
                    Spareparts
                {% elif app.name = 'Sppermit' %}
                    Permit Letter
                {% elif app.name = 'Sppurchase' %}
                    Purchases
                {% elif app.name = 'Sptransfer' %}
                    Transfers
                {% elif app.name = 'Spusage' %}
                    Spareparts Usage                    
                {% else %}
                    {{app.name}}
                {% endif %}
            </a>
        </caption>
        {% for model in app.models %}
            <tr>
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}

    {% comment %}
    below is the workaround to re-arrange application in django admin index. do that for every app you want base on your desired ordering 
    -------------------------------------------
    {% endcomment %}

    {% comment %} ----delete this when done
    
    to order the application in admin page as i desired

    <br/>

    {% for app in app_list %}
        {% if app.name = 'Basicinfo' %}
            add basic information application and all related models here
        {% endif %}
    {% endfor %}

    <br/>

    {% for app in app_list %}
        {% if app.name = 'Sp_Spareparts' %}
            add spareparts application and all related models here
        {% endif %}
    {% endfor %}


    ------ delete this when done {% endcomment %}

    {% comment %}
    -------------------------------------------
    end of code
    {% endcomment %}    


{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
