{% extends "basicpage.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block actionbutton %}
{% endblock %}

{% block contentheader %}
Request waiting for approval
{% endblock %}

{% block content %}
<table class="table table-striped">
	<thead>
		<th style="width:1px;white-space:nowrap">#</th>
		<th style="width:1px;white-space:nowrap">.</th>
		<th>
			<div class="col-md-2">Request Number</div>
			<div class="col-md-2">Factory</div>
			<div class="col-md-2">Status</div>
			<div class="col-md-6" style="padding-right:0px;text-align:right">Option</div>
		</th>
	</thead>

	<tbody>
		<tr>
			{% for purchase in purchases %}
			<td style="width:1px;white-space:nowrap">{{forloop.counter}}</td>
			<td style="width:1px;white-space:nowrap">.</td>
			<td>
				<div class="col-md-2">{{purchase.request_number}}</div>
				<div class="col-md-2">{{purchase.factory}}</div>
				<div class="col-md-2">{{purchase.status}}</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
{% endblock %}