{% extends "basicpage.html" %}
{% load staticfiles %}

{% block actionbutton %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form action="##">
				<input type="submit" class="btn btn-primary btn-xs pull-right" style="margin-left:5px;width:100px" value="Master">
			</form>
			<form action="##">
				<input type="submit" class="btn btn-primary btn-xs pull-right" style="margin-left:5px;width:100px" value="Button 2">
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block contentheader %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class="lead">Stock Spare Parts</p>
		</div>
	</div>
</div>
{% endblock %}


