{% extends "basicpage.html" %}
{% load staticfiles %}

{% block contentheader %}
Result JSON
{% endblock %}

{% block content %}
<table class="table table-striped" id="mastertable">
	<thead>
		<th>internal code</th>
		<th>supplier code</th>
	</thead>

	<tbody id="tabelcontoh">

	</tbody>
</table>

<div id="test">
</div>


<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
$(document).ready(function(){
	$.getJSON("{% url 'sp_spareparts:testjson' %}", function(data){
		$('#test').html('<p> data length:' + data.length + "</p>");
		console.log(data)
		$.each($.parseJSON(data), function(){
			console.log(this);
			var column_html = '<tr><td>' + this.fields.internal_code + '</td>' +
			'<td>' + this.fields.supplier_code + '</td></tr>'
			$('#tabelcontoh').append(column_html)
		});
	});
});
</script>

{% endblock %}

