{% extends "basicpage.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block contentheader %}
Add New Item to Spareparts Master Data
{% endblock %}

{% block content %}

<body onload="masking()">
<form role="form" class="form-horizontal" action="{% url 'sp_spareparts:spmasteradd' %}" method="POST">
	<div class="row">
		<div class="col-md-6" style="border-right:1px solid #eee">
			{% csrf_token %}
			<div class="form-group">
				<label for="id_internal_code" class="col-md-4 control-label" style="text-align:left">Internal Code</label>
				<div class="col-md-6">
					{{form.internal_code|add_class:"form-control"|attr:"placeholder:internal code"|attr:"name:internal_code"|attr:"onfocus:internalCodeHelp()"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_supplier_code" class="col-md-4 control-label" style="text-align:left">Supplier Code</label>
				<div class="col-md-6">
					{{form.supplier_code|add_class:"form-control"|attr:"placeholder:supplier code"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_machine_type" class="col-md-4 control-label" style="text-align:left">Machine Type</label>
				<div class="col-md-6">
					{{form.machine_type|add_class:"form-control"|attr:"placeholder:machine type"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_character" class="col-md-4 control-label" style="text-align:left">Characteristic</label>
				<div class="col-md-6">
					{{form.character|add_class:"form-control"|attr:"placeholder:machine type"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_movability" class="col-md-4 control-label" style="text-align:left">Movability</label>
				<div class="col-md-6">
					{{form.movability|add_class:"form-control"|attr:"placeholder:movability"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_chain_wheel_type" class="col-md-4 control-label" style="text-align:left">Chain Wheel Type</label>
				<div class="col-md-6">
					{{form.chain_wheel_type|add_class:"form-control"|attr:"placeholder:chain_wheel_type"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_spareparts_type" class="col-md-4 control-label" style="text-align:left">Spareparts Type</label>
				<div class="col-md-6">
					{{form.spareparts_type|add_class:"form-control"|attr:"placeholder:spareparts_type"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_natural_frequency" class="col-md-4 control-label" style="text-align:left">Frequency</label>
				<div class="col-md-6">
					{{form.natural_frequency|add_class:"form-control"|attr:"placeholder:natural_frequency"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_lifetime" class="col-md-4 control-label" style="text-align:left">Est. Lifetime</label>
				<div class="col-md-4">
					<div class="input-group">
						{{form.lifetime|add_class:"form-control"|attr:"placeholder:lifetime"|attr:"name:lifetime"}}
						<span class="input-group-addon">months</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="row">
				<div class="col-md-offset-1 col-md-1">
					<button type="submit" class="btn btn-primary">Add new!</button>
				</div>
			</div>

			<div class="row" style="margin-top:50px">
				<div class="col-md-offset-1 col-md-5">
					<p id="fieldhelp">This is text for field onselect</p>
				</div>
			</div>

		</div>

	</div>
</form>

<!-- Below is necessary java script source to implement input masking -->
<script src="{% static 'js/javascripttools/JavaScriptUtil.js' %}"></script>
<script src="{% static 'js/javascripttools/Parsers.js' %}"></script>
<script src="{% static 'js/javascripttools/InputMask.js' %}"></script>

<script language="JavaScript">
    function masking() {
        var internal_code_mask = new InputMask("UUUU####", "internal_code");
        var lifetime_mask = new InputMask("##", "lifetime")
    }

    function internalCodeHelp() {
    	var help_text = document.getElementById("fieldhelp")
    	help_text.innerHTML = "this is the internal code help"
    }


</script>

<!-- things to remember to mask = nama (name="...") 
field harus di assign yang sesuai dengan yang ada di argumen kedua InputMask(),
dalam kasus ini internal_code_mask
harus di warp dengan <body onload="nama function"></body>
buat referensi, cari internal_code_mask -->

{% endblock %}