{% extends 'basicpage.html' %}
{% load staticfiles %}

<!-- '''''''''''''''''''''''''''''''''''''' action button -->
{% block actionbutton %}
<a href="{% url 'sp_spareparts:sptypesadd' %}" 
class="btn btn-primary btn-xs pull-right" 
style="margin-left:5px; width:100px">Add</a>
{% endblock %}


<!-- '''''''''''''''''''''''''''''''''''''' content header -->
{% block contentheader %}

Spareparts Types

{% endblock %}

<!-- '''''''''''''''''''''''''''''''''''''' content table -->
{% block content %}
<table class="table table-striped">
	<thead>	
		<tr>
			<th>#</th>
			<th></th>
			<th>
				<div class="col-md-11" style="padding:0px">
					Types Name
				</div>
				<div class="col-md-1" style="padding-right:0px;text-align:right">
					Options
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		{% for type in types %}
		<tr>
			<td style="width:1px;white-space:nowrap">
				{{forloop.counter}}
			</td>
			<td style="width:1px;white-space:nowrap">
				.
			</td>
			<td>
				<div class="col-md-10" style="padding-left:0px">
					{{type.spareparts_type}}
				</div>
				</div>
				<div class="col-md-2" style="padding-right:0px">
					<input type="button" value="edit" 
					class="btn btn-success btn-xs pull-right" 
					style="width:50px;margin-left:5px" 
					onclick="location.href='{% url 'sp_spareparts:sptypesedit' type.id %}'"/>

					<input type="button" value="delete"
					class="btn btn-danger btn-xs pull-right"
					style="width:50px;margin-left:5px"
					onclick="location.href='{% url 'sp_spareparts:sptypesdelete' type.id %}'"/>
				</div>

			</td>
		</tr>	
		{% endfor %}
	
	</tbody>
</table>
{%endblock %}
<!-- '''''''''''''''''''''''''''''''''''''' -->