{% extends "basicpage.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block contentheader %}
Add New Item to Spareparts Master Data
{% endblock %}

{% block content %}

<body onload="masking()">
<form role="form" class="form-horizontal" action="{% url 'spareparts_master:spmasteradd' %}" method="POST">
	<div class="row">
		<div class="col-md-6" style="border-right:1px solid #eee">
			{% csrf_token %}
			<div class="form-group">
				<label for="id_internal_code" class="col-md-4 control-label" style="text-align:left">Internal Code</label>
				<div class="col-md-6">
					{{form.internal_code|add_class:"form-control"|attr:"placeholder:internal code"|attr:"name:internal_code"|attr:"onfocus:internalCodeHelp()"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_supplier_code" class="col-md-4 control-label" style="text-align:left">Supplier Code</label>
				<div class="col-md-6">
					{{form.supplier_code|add_class:"form-control"|attr:"placeholder:supplier code"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_machine_type" class="col-md-4 control-label" style="text-align:left">
					<div>Machine Suitability</div>
					<div style="width:75px;color:blue;font-size:12px" id="add_suitability">Add Item</div>
				</label>
				<div class="col-md-8" id="machine-suitability-items">
					{{ formset.management_form }}
						{% for item in formset %}
							<div id="parent-for-delete-only">
								<div class="col-md-7" style="padding:0px">
									{{ item.machine_type | add_class:"form-control" | attr:"style:margin-top:5px"}}
								</div>
								<div class="col-md-5" id="delete{{forloop.counter}}">
									<button type="button" class="btn btn-xs btn-warning" style="margin-top:10px">delete</button>
								</div>
							</div>
						{% endfor %}
				</div>
			</div>

			<div class="form-group">
				<label for="id_character" class="col-md-4 control-label" style="text-align:left">Characteristic</label>
				<div class="col-md-6">
					{{form.character|add_class:"form-control"|attr:"placeholder:machine type"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_movability" class="col-md-4 control-label" style="text-align:left">Movability</label>
				<div class="col-md-6">
					{{form.movability|add_class:"form-control"|attr:"placeholder:movability"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_chain_wheel_type" class="col-md-4 control-label" style="text-align:left">Chain Wheel Type</label>
				<div class="col-md-6">
					{{form.chain_wheel_type|add_class:"form-control"|attr:"placeholder:chain_wheel_type"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_spareparts_type" class="col-md-4 control-label" style="text-align:left">Spareparts Type</label>
				<div class="col-md-6">
					{{form.spareparts_type|add_class:"form-control"|attr:"placeholder:spareparts_type"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_natural_frequency" class="col-md-4 control-label" style="text-align:left">Frequency</label>
				<div class="col-md-6">
					{{form.natural_frequency|add_class:"form-control"|attr:"placeholder:natural_frequency"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_lifetime" class="col-md-4 control-label" style="text-align:left">Est. Lifetime</label>
				<div class="col-md-4">
					<div class="input-group">
						{{form.lifetime|add_class:"form-control"|attr:"placeholder:lifetime"|attr:"name:lifetime"}}
						<span class="input-group-addon">months</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="row">
				<div class="col-md-offset-1 col-md-1">
					<button type="submit" class="btn btn-primary">Add new!</button>
				</div>
			</div>

			<div class="row" style="margin-top:25px">
				<div class="col-md-offset-1 col-md-1">	
					<button id="HelpButton" type="button" class ="btn">Show/Hide Help</button>
				</div>
			</div>

			<div class="row" style="margin-top:25px">
				<div class="col-md-offset-1 col-md-11">
					<p id="fieldhelp"><b>Help Text</b></p>
				</div>
			</div>

		</div>

	</div>
</form>

{% endblock %}

{% block js %}
<script language="JavaScript">
    function masking() {
        var internal_code_mask = new InputMask("UUUU####", "internal_code");
        var lifetime_mask = new InputMask("##", "lifetime")
    }

</script>

<!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
<!-- Below is necessary java script source to implement input masking -->
<script src="{% static 'js/javascripttools/JavaScriptUtil.js' %}"></script>
<script src="{% static 'js/javascripttools/Parsers.js' %}"></script>
<script src="{% static 'js/javascripttools/InputMask.js' %}"></script>

<script>
//demonstrate variable creation with break lines
var internal_code_help = 
"Pengisian kode internal sparepart terdiri dari 4 huruf kapital diikuti dengan 4 digit angka, " + 
"Misalnya RVGR001:<br/><ul>" + 
"<li>Dua huruf pertama (RV) adalah kode department untuk <b>Roving</b>.</li>" + 
"<li>Dua huruf berikutnya (GR) adalah kode produk untuk <b>Gearing</b>.</li>" + 
"<li>Empat angka berikutnya (0001) adalah nomor urut. Untuk sparepart lainnya yang berada pada departemen yang sama dan kode produk yang sama, maka kodenya RVGR0002.</li></ul>"

var supplier_code_help = 
"Kode supplier mengikuti kode yang selama ini sudah ada seperti <b>Bearing6600</b>. " +
"Kode ini adalah kode yang dipakai ketika memesan stock sparepart ke supplier"

var no_help_text = "No help text available."

	$(document).ready(function(){
	  //function to show/hide help
	  $("#id_internal_code").focus(function(){
	    $("#fieldhelp").html(internal_code_help);
	  });
	  $("#id_supplier_code").focus(function(){
	  	$("#fieldhelp").html(supplier_code_help);
	  });
	  $("#HelpButton").click(function(){
	  	$("#fieldhelp").toggle(100);
	  });
	  $("#id_machine_type, #id_character, #id_movability, #id_chain_wheel_type, #id_spareparts_type, #id_natural_frequency, #id_lifetime").focus(function(){
	  	$("#fieldhelp").html(no_help_text);
	  });


	  //function to add item for machine suitability
	  $("#add_suitability").click(function(){
	  	var count = $("#machine-suitability-items").find("select").length;
	  	var new_html =
	  	'<div id="parent-for-delete-only">'+

	  	'<div class="col-md-7" style="padding:0px">' +
		  	'<select class="form-control" id="id_machinesuitability_set-'+count+'-machine_type" name="machinesuitability_set-'+count+'-machine_type" style="margin-top:5px">' + 
				'<option value="" selected="selected">---------</option>' + 
				'{% for type in types %}' +
					'<option value="{{type.id}}">{{type.machine_type}}</option>' +
				'{% endfor %}' +
			'</select>' +
		'</div>' +

		'<div class="col-md-5" id="delete'+(count+1)+'">' +
			'<button type="button" class="btn btn-xs btn-warning" style="margin-top:10px">delete</button>' +
		'</div>' +

		'</div>'


		$("#machine-suitability-items").append(new_html);
		$("#id_machinesuitability_set-TOTAL_FORMS").attr("value", count+1);
		console.log(count);
		delete_item();

	  });

	  function delete_item(){
	  	var count = $("#machine-suitability-items").find("select").length;
	  	var delete_id_array = []

	  	for (var i = 1; i <= count; i++){
	  		var delete_id = "#delete"+i
	  		delete_id_array.push(delete_id);
	  	}

	  	console.log(delete_id_array)
	  	$.each(delete_id_array, function(index, element){
	  		$(element).click(function(){
	  			console.log(element)
	  			$(element).parent().find("select").val(null);
	  			$(element).parent().hide();
	  		});
	  	});
	  }

	  delete_item();


	});

</script>

<!-- things to remember to mask = nama (name="...") 
field harus di assign yang sesuai dengan yang ada di argumen kedua InputMask(),
dalam kasus ini internal_code_mask
harus di warp dengan <body onload="nama function"></body>
buat referensi, cari internal_code_mask -->

{% endblock %}