{% extends "basicpage.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block contentheader %}
Create New Purchase Request
{% endblock %}

{% block content %}
<form role="form" class="form-horizontal" action="{% url 'sppurchase:request_add' %}" method="POST">
	<div class="row">
		<div class="col-md-5" style="border-right:1px solid #eee">
			{% csrf_token %}
			<div class="form-group">
				<label for="id_factory" class="col-md-4 control-label" style="text-align:left">Destination Factory</label>
				<div class="col-md-6">
					{{form.factory|add_class:"form-control"|attr:"placeholder:destination"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_request_number" class="col-md-4 control-label" style="text-align:left">Request Number</label>
				<div class="col-md-6">
					{{form.request_number|add_class:"form-control"|attr:"placeholder:purchase request number"}}
				</div>
			</div>

			<div class="form-group">
				<label for="id_memo" class="col-md-4 control-label" style="text-align:left">Memo</label>
				<div class="col-md-6">
					{{form.memo|add_class:"form-control"|attr:"placeholder:type memo here"}}
				</div>
			</div>
		</div>

		<div class="col-md-4" style="border-right:1px solid #eee; margin-left:50px">
			<div class="row">
				<b>Item list</b>
			</div>
			{{ formset.management_form }}
			<div class="row" style="margin-top:25px" id="purchase_items">
				{% for item in formset %}
				<div class="form form-inline" role="form">
					<div class="form-group">
						<label class="sr-only" for="id_master_spare_parts">Spare Parts</label>
						<div class="col-md-1">{{item.master_spare_parts|add_class:"form-control"|attr:"placeholder:spareparts"|attr:"style:width:200px"}}</div>
					</div>

					<div class="form-group">
						<label class="sr-only" for="id_quantity">Quantity</label>
						<div class="col-md-1">{{item.requested_quantity|add_class:"form-control"|attr:"placeholder:quantity"|attr:"style:width:100px"}}</div>
					</div>
				</div>
				{% endfor %}
			</div>


			<div class="row" style="margin-top:25px">
				<button type="button" class="btn" id="add_item">Add item</button>
			</div>

		</div>

	</div>

	<div class="row" style="margin-top:25px">
		<button type="submit" class="btn btn-primary pull-right">Add Request</button>
	</div>
</form>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
	$(document).ready(function(){
		var count = $("#purchase_items").children().length;
		var new_item_html = 
		'<div class="form form-inline" role="form">'+
			'<div class="form-group">'+
				'<label class="sr-only" for="id_master_spare_parts">Spare Parts</label>'+
				'<div class="col-md-1">'+
					'<select class="form-control" id="id_purchaseitems_set-'+ count +'-master_spare_parts" name="purchaseitems_set-'+ count +'-master_spare_parts" placeholder="spareparts" style="width:200px">'+
						'<option value="" selected="selected">---------</option>'+
						'{% for master in masters %}'+
						'<option value="{{master.id}}">{{master.internal_code}} / {{master.supplier_code}}</option>'+
						'{% endfor %}'+
					'</select>'+
				'</div>'+
			'</div>'+

			'<div class="form-group">'+
				'<label class="sr-only" for="id_quantity">Quantity</label>'+
				'<div class="col-md-1">'+
					'<input class="form-control" id="id_purchaseitems_set-'+ count +'-requested_quantity" name="purchaseitems_set-'+ count +'-requested_quantity" placeholder="quantity" style="width:100px;margin-left:4px" type="text" />'+
				'</div>'+
			'</div>'+
		'</div>'
		
		$("#add_item").click(function(){


			$("#purchase_items").append(new_item_html);
			$("#id_purchaseitems_set-TOTAL_FORMS").attr("value", count+1)
		});
	});


// Update the inline items count
// $(id_purchaseitems_set-TOTAL_FORMS).attr("value", count)


</script>

{% endblock %}